<body>
	<header>
		<article class="design">
		</article>
	</header>
	<section class="titulo">
		<p>DISEÑA TU MENU</p>
		<%= link_to 'Login' %>
	</section>
	<section>
		<div id='calendar'></div>
	</section>
	<section>
		<article class="listadelacompra">
			<p>Tu lista de la compra</p>
		</article>
	</section>
</body>