<body>
	<header>
		<article class="encabezado">
			<ul class="lista">
				<li><%= link_to 'Login', new_user_session_path %></li>
			
				<li><%= link_to 'Sign up', new_user_registration_path %></li>
			</ul>
		</article>
		<article class="design"></article>
	</header>
	<section class="titulo">
		<p>DISEÑA TU MENU</p>
	</section>
	<section>
		<div id='calendar'></div>
		
		
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  				<div class="modal-dialog">
    				<div class="modal-content">
      					<div class="modal-header">
        					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        					<h4 class="modal-title" id="myModalLabel">Tu menu</h4>
      					</div>
      					<div class="modal-body">
        					<article>
        						<p class="preguntaForm">¿Qué tipo de comida?</p>
        						<select id="meal" class="form-control">
    									<option value='0'>Desayuno</option>
    									<option value='1'>Comida</option>
    									<option value='2'>Cena</option>
								    </select>
        					</article>
        					<article>
        						<p class="preguntaForm">¿Cuál es?</p>
								<input type="text" id="comida" class="form-control" placeholder="Ej. Macarrones con tomate">
        					</article>
      					</div>
      					<div class="modal-footer">
        					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        					<button type="button" class="btn btn-primary" id="save" >Save changes</button>
      					</div>
    				</div>
  				</div>
			</div>

	</section>

	<section class="michef">
		<div class="speech-bubble"> Crea tu lista de la compra. Añade el producto, el precio y dónde lo quieres comprar. </div>
		<article> <%= image_tag 'chef.jpg' , class:"chef " %></article>
	</section>

	<section class="tulista">
		<h1 class="tulistadelacompra">TU LISTA DE LA COMPRA</h1>
		
     	<input class="todolist" id="producto" type="text" placeholder="Producto">
     	<input class="todolist" id="precio" type="text" placeholder="Precio">€
     	<input class="todolist" id="lugar" type="text" placeholder="Establecimiento">
     	<button id="addinput" class="btn btn-primary">Añadir producto</button> 
     	<button id="addcalc" class="btn btn-primary">Hacer cálculo global</button>
     	<button  id="removelist" class="btn btn-primary">Eliminar lista de la compra</button>
      <!-- <button  id="removebuy" class="btn btn-primary">Eliminar comprados</button> -->
     	<article class="comentarios">
     		<ul id="list"></ul>
     	</article>
	</section>
	<section id="calculoglobal" class="calculoglobal"></section>

</body>