
.encabezado{
	background-color: #6495ED;
	width:100%;
	height:40px;
}
.lista{
	float:right;
	font-size: 35px;
}
.lista>li{
	display:inline;
	padding-right: 20px;
}
.boton{
	padding:10px;
}
.design{
	background-image: url("calendario_nutricion8.jpg");
	background-size: 100%;         
	width:100%;
	height:800px;
}
.titulo{
	text-align: center;
	padding: 100px;
	font-size: 100px;
	font-weight:bold;
	color:#000000;
}
.fc-day-header.fc-widget-header{
	background-color: #6495ED;
	height:40px;
}

.listadelacompra{
	display:inline-block;
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	font-size: 40px;
	font-weight:bold;
	text-align: center;
	width:98%;
	height:50px;
	border: 1px solid #6495ED;	
	border-radius:12px;
	background-color:#6495ED;
}
.preguntaForm{
	font-weight: bold;
	padding-top:20px;
	padding-bottom: 20px;
}
.modal-title{
	font-weight: bold;
	font-size: 20px;
}
.chef{
	padding-bottom:20px;
	padding-top:20px;
	height:250px;
	position:relative;
	bottom:10px;
}

.speech-bubble {
	margin-left: 35px;
	margin-top: 20px;
  	background: #6495ED; 
  	color: #FFF; 
  	font-family: Arial, Sans-serif;
	font-size: 12px;
	padding: 20px 10px 10px 10px;
	text-align: center;
	width: 200px;
	border-radius: 10px;
}
.speech-bubble:after {
  border: solid 10px transparent;
  border-top-color: #6495ED;  
  border-bottom: 0;
  bottom: -20px; 
  content: "";
  display: block;
  height: 0;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 0;
}
.tulista{
	background-color:#6495ED;
	margin-left:160px;
	margin-top:160px;
	width:56%;
	height:500px;
	border-radius: 10px;
}
.michef{
	float:left;
}
.tulistadelacompra{
	padding:30px;
	font-size: 30px;
	color:white;
}
.todolist{
	margin-bottom:20px;
}

